<h1>Factions</h1>
<div class="display-column">
  <% @factions.each do |faction| %>
  <div class="display-box">
    <a href="factions/<%= faction.id %>"><%= faction.name %></a>
  </div>
  <% end %>
</div>

<h1>Current Leader in Factions: </h1>
<h1>Current Worst Faction: </h1>
<h1>Most Played Faction</h1>
