<h1><%= @faction.name %></h1>
<p><%= @faction.description %></p>
<h3>Wins: <%= @faction.wins %></h3>
<% if @faction.games != 0 %>
  <h3>Win Percentage: <%= (@faction.wins/@faction.games)%></h3>
<% else %>
  <h3>This Faction Has Not Played Any Games Yet</h3>
<% end %>

<h2>Best Player With Faction</h2>
<h2>Worst Player With Faction</h2>
