<h1>Players</h1>
<div class="display-column">
  <% @players.each do |player| %>
  <div class="display-box">
    <a href="players/<%= player.id %>"><%= player.name %></a>
  </div>
  <% end %>
</div>

<h1>Leaderboard: </h1>
<h1>Biggest Chad: </h1>
