<h1>Lords</h1>
<div class="display-column">
  <% @lords.each do |lord| %>
  <div class="display-box">
    <a href="lords/<%= lord.id %>"><%= lord.name %></a>
  </div>
  <% end %>
</div>

<h2>Highest Win Percentage: </h2>
<h2>Lowest Win Percentage: </h2>
