<h1><%= @lord.name %></h1>
<h3>Wins: <%= @lord.wins %></h3>
<% if @lord.games != 0 %>
  <h3>Win Percentage: <%= (@lord.wins/@lord.games) %></h3>
<% else %>
  <h3>No Games Played Yet as this Lord</h3>
<% end %>
