/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Background Image */
body {
  background-image: url("SoS.jpg");
  height: ;
}

/* Removing Bullets from Main Menu */
.dropdown, .menu{
  list-style-type: none;
}
/* Formatting Top Bar*/

.top-bar {
  opacity: 1;
  margin-top: 0;
  padding-top: 0;
  height: 1.5em;
}

a {
  color: #373737;
}

a:hover {
  color: #F4DD51;
}

.top-bar-left li{
  margin: 0;
  padding: 2em;
  padding-top: 0;
  display: inline-block;
  float: left;
}
.top-bar-right li{
  float: right;
}
.top-bar-right span{
  padding: 0.2em;
  float: right;
}
.top-bar a{
  text-decoration: none;
}


/* Styling Main Boxes On Page */
.display-column div{
  display: inline-block;
  width: 70%;
  margin: auto;
  text-align: center;
}
