/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Background Image */
body {
  background-image: url("SoS.jpg");
}

/* Removing Bullets from Main Menu */
.dropdown, .menu{
  list-style-type: none;
}
/* Formatting Top Bar*/

.top-bar {
  opacity: 0.95;
  color: white;
}

a:link {
  color: #D0E0EB;
}

a:hover {
  color: #88ABC2;
}

a:active {
  color: #67917A;
}

.top-bar li{
  margin: 0;
  padding: 0.5em;
  padding-top: 0;
  display: inline-block;
  float: left;
}
.top-bar-right li{
  padding-left: 4em;
}
.top-bar a{
  text-decoration: none;
}
.devise-top-bar span{
  padding-left: 5em;
  padding-right: 5em;
}
